@font-face {
    font-family: 'japanese';
    src: url('../Noto_Sans_JP/NotoSansJP-Regular.otf');
}

#homepage {
    width: 100vw;
    height: 100vh;
    background: url('../bg_enhanced.jpg') no-repeat;
    background-position: center 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

#logo {
    width: 30%;
    height: 30%;
    margin-top: 5rem;
    margin-left: 12rem;
}

#desc {
    width: 26rem;
    height: 10rem;
    font-family: 'japanese', arial;
    text-align: center;
    color: #640e27;
    font-size: 0.80rem;
    margin-left: 12rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#food {
    width: 30%;
    height: 50%;
    margin-left: 12.5rem;
    margin-top: -2.7rem;
}

@media (max-width: 800px), (min-height: 1366px) {
    #homepage {
        background-position: left 50%;
        align-items: center;
        justify-content: center;
    }

    #logo {
        padding-top: 4rem;
        width: 50rem;
        height: 25rem;
        margin: 2rem 0;
    }

    #desc {
        font-size: 1.5rem;
        width: 65%;
        margin: 0;
        padding-left: 4rem;
    }

    #food {
        width: 50rem;
        height: 47rem;
        margin: 0;
    }
}