@font-face {
    font-family: 'japanese';
    src: url('../Noto_Sans_JP/NotoSansJP-Regular.otf');
}

#homepage {
    width: 100vw;
    height: 100vh;
    background: url('../bg_enhanced.jpg') no-repeat;
    background-position: center 100%;
    background-size: cover;
    overflow: hidden;
}

#homeDiv {
    padding-top: 1rem;
    width: 50%;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 4.3rem;
}

#logo {
    width: 60%;
    height: 30%;
}

#desc {
    width: 26rem;
    height: 15%;
    font-family: 'japanese', arial;
    text-align: center;
    color: #640e27;
    font-size: 0.80rem;
    margin-top: 1rem;
}

#food {
    width: 60%;
    height: 40%;
}

@media (max-width: 1023px), (min-height: 1366px) {
    #homepage {
        background-position: left 50%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
    }

    #homeDiv {
        width: 100vw;
        margin: 0;
        height: auto;
        padding-top: 20%;
    }

    #logo {
        width: 70%;
        height: 25%;
        margin: 2rem 0;
    }

    #desc {
        font-size: 1.6rem;
        width: 70%;
        margin: 2rem 0;
        padding-left: 4rem;
    }

    #food {
        width: 75%;
        height: 38%;
        margin: 2rem 0;
    }
}